<div *ngIf="minify>0">
    <div class="pt-2 ml-3  tableWidth rounded">
            <div class=row>
                <div class="col-md-12 row p-0"> 
                    <div class="col-md-6 p-0 pl-4">Attraction Id</div>
                    <div class="col-md-6 p-0">Attraction Type</div>
                </div>
            <div class="col-md-10 ml-4 bottomLine"> </div>
                <app-placeable *ngFor="let p of placeables" [placeable]="p" [minify]="1" class="w-100"> </app-placeable>
            </div>
        </div>

</div>


<div *ngIf="minify==0">
    <div class="pt-2 ml-3  tableWidth rounded">
        <div class=row>
            <div class="col-md-12 row p-0"> 
                <div class="col-md-6 p-0 pl-4">Attraction Name</div>
                <div class="col-md-6 p-0">Attraction Type</div>
            </div>
        <div class="col-md-10 ml-4 bottomLine"> </div>
            <app-placeable *ngFor="let p of placeables" [placeable]="p" class="w-100"> </app-placeable>
        </div>
    </div>
</div>