<ng-container *ngIf="(editable > 0); else display">
  <ng-container *ngIf="(editable == 1);">
    <div id="dragDropContainer" class="mat-app-background basic-container white pl-0 pr-0 pb-0">
      <div id="layoutReaction" class="example-boundary rounded">
        <div *ngFor="let map of maps" 
          [ngClass]="setDragableClass(map)"            
          [ngStyle]="setDragableStyle(map)"
          class="example example-box" cdkDragBoundary=".example-boundary">
          {{map.placeable.name}}
        </div>
      </div>
    </div>
    <div class="btn btn-info mt-3" (click)="swapToEdit()">Edit the Layout</div>
  </ng-container>
  <ng-container *ngIf="(editable == 2);">
    <div id="dragDropContainer" class="mat-app-background basic-container white pl-0 pr-0 pb-0">
      <div id="layoutAction" class="example-boundary rounded">
        <div [cdkDragData]="map" *ngFor="let map of maps" 
        [ngClass]="setDragableClass(map)"            
        [ngStyle]="setDragableStyle(map)"
        class="example example-box" cdkDragBoundary=".example-boundary" cdkDrag>
          {{map.placeable.name}}
        </div>
      </div>
    </div>
    <div class="btn btn-info mt-3" (click)="processLayout()">Save Changes</div>
  </ng-container>
</ng-container>

<!-- <div class="example" style="width:150px; height:50px; border: 2px; border-color:aqua" cdkDrag (click)="processLayout()"> look at me now</div>
<div class="example" style="width:150px; height:50px; border: 2px; border-color:aqua" cdkDrag (click)="processActiveLayout()"> Process Active Layout</div> -->


<ng-template #display>
  <div id="dragDropContainer" class="mat-app-background basic-container white pl-0 pr-0 pb-0">
    <div id="layoutReaction" class="example-boundary rounded">
    <div *ngFor="let map of maps" 
    [ngClass]="setDragableClass(map)"            
    [ngStyle]="setDragableStyle(map)"
    class="example example-box" cdkDragBoundary=".example-boundary">
      {{map.placeable.name}}
    </div>
    </div>
  </div>
</ng-template>