<!-- As a heading -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="https://cdn4.iconfinder.com/data/icons/building-landmarks-line/614/2363_-_Fair_II-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active" (click)="pushHome()">Fantastic Fair</a>

      <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/portal" routerLinkActive="active" (click)="pushPortal()">Portal </a>
          </li>
          <li class="nav-item" *ngIf="loggedUser != null">
              <a class="nav-link" routerLink="#">Time Sheets</a>
            </li>
            <li class="nav-item" *ngIf="loggedUser != null">
              <a class="nav-link" routerLink="#">Training and Logs</a>
            </li>
            <li class="nav-item" *ngIf="loggedUser != null">
              <a class="nav-link" routerLink="#">HR</a>
            </li>
            <!--  -->
            <li class="nav-item" *ngIf="loggedUser != null && loggedUser.userType.id == 1"> 
              <a class="nav-link" routerLink="/portal/layout">Layout</a>
            </li>
        </ul>
      </div>
      <app-login [urlString]="onHome" (onloggedUser)="updateUser($event)"></app-login>
    </nav>

<router-outlet></router-outlet>