<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="" id="navbarSupportedContent">
   
      <app-login></app-login>
  </div>
</nav> -->
<div class="container mt-5 pt-2 backpanel">
<div class="jumbotron mt-5 pt-0 white">
    <div class="text-center">
      <h1 class="display-4">Employee Portal</h1>
    </div>
    <p class="lead">This is a lookup and map of the current fair. Employees can also log in to see more options.</p>
    <hr class="my-4">
    <div name="container">

        <div class="row">
        <div class="ml-3 mb-0">
            <!-- <img src="https://www.datefest.org/portals/0/Facilities/Fair-Layout---blank.png" width="100%" height="100%" class="d-inline-block align-top" alt=""> -->
            <app-draglayout [editable]="0" [eventSearch]="1"></app-draglayout>
        </div>
        
        <div class="mt-4 ml-3">

            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/2e/a4/d4/2ea4d4b1e6d2e0643bf1fecfc3fc767c.jpg" alt="Merry-go-round">
                <div class="card-body">
                  <h5 class="card-title">A new merry-go-round we might get.</h5>
                  <p class="card-text">We have some great attractions, sure! But, every day new and wonderful attractions are constructed. We will be hosting a voting process to decide what new rides might be joining the slew of great options we have available.</p>
                </div>
              </div>
      
        </div>
        <div class=" mt-4 ml-3">
      
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="http://greencountyfair.net/images/site/pageserver/image/rides/zero.jpg" alt="BusinessTalk">
                <div class="card-body">
                  <h5 class="card-title">Other Options</h5>
                  <p class="card-text">No matter what we end up adding to our own fantastic fair, we must know that safety is the number one concern. It's important that all staff stay live and alert throughout the day. If ever we start to reach maximal capacity, we should have floaters capable of helping out! If anyone is interested in working for an additional shift, let us know!</p>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>


