<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="" id="navbarSupportedContent">
   
      <app-login></app-login>
  </div>
</nav> -->

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
 
    <div class="row">
        <div class="col-md-5">
            <img src="https://www.datefest.org/portals/0/Facilities/Fair-Layout---blank.png" width="100%" height="100%" class="d-inline-block align-top" alt="">
      
        </div>
        <div class="col-md-2">
      
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/2e/a4/d4/2ea4d4b1e6d2e0643bf1fecfc3fc767c.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
      
        </div>
        <div class="col-md-2">
      
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/2e/a4/d4/2ea4d4b1e6d2e0643bf1fecfc3fc767c.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
      
        </div>
        <div class="col-md-2">
      
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/2e/a4/d4/2ea4d4b1e6d2e0643bf1fecfc3fc767c.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
      
        </div>
      </div>


  </div>

