<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="" id="navbarSupportedContent">
   
      <app-login></app-login>
  </div>
</nav> -->
<div class="container mt-5 pt-2 backpanel">
<div class="jumbotron mt-5 pt-0 white">
    <h1 class="display-4">Employee Portal</h1>
    <p class="lead">This is a lookup and map of the current fair. Employees can also log in to see more options.</p>
    <hr class="my-4">
    <div name="container">

    <div class="row">
        <div class="ml-3 mb-0">
            <!-- <img src="https://www.datefest.org/portals/0/Facilities/Fair-Layout---blank.png" width="100%" height="100%" class="d-inline-block align-top" alt=""> -->
            <app-draglayout [editable]="0"></app-draglayout>
        </div>

        <div class="col-md-2 mt-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/2e/a4/d4/2ea4d4b1e6d2e0643bf1fecfc3fc767c.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
      
        </div>
        <div class="col-md-2 mt-4">
      
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/2e/a4/d4/2ea4d4b1e6d2e0643bf1fecfc3fc767c.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
      
        </div>
      </div>

    </div>
  </div>

</div>