<div style="">
  <div class="wrapper">
    <div class="one">
      <div class="purchase">
        <input style="align-content: center" class="form-control mr-sm-2" type="number" [(ngModel)]="numberOfTickets" name="numberOfTickets" placeholder="# of tickets" aria-label="">
        <input id="firstName" name="firstName" placeholder="First name" class="form-control mr-sm-2"
               required minlength="4" appForbiddenName="xxxx"
               [(ngModel)]="firstName" #fname="ngModel" >
        <!--    <input class="form-control mr-sm-2" type="text" [(ngModel)]="firstName" name="firstName" placeholder="First name" aria-label="">-->
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last name" aria-label="">
        <input class="form-control mr-sm-2" type="email" [(ngModel)]="email" name="email" placeholder="email@me.com" aria-label="">
        <input style="align-content: center" class="form-control mr-sm-2" type="number" [(ngModel)]="locationId" name="locationId" placeholder="Location ID" aria-label="">
        <input style="align-content: center" class="form-control mr-sm-2" type="number" [(ngModel)]="eventId" name="eventId" placeholder="Event ID" aria-label="">
<!--        <input style="align-content: center" class="form-control mr-sm-2" type="date" [(ngModel)]="dateOfPurchase" name="dateOfPurchase" placeholder="Date of purchase" aria-label="">-->
        <input style="align-content: center" class="form-control mr-sm-2" [ngModel] ="dateOfPurchase | date:'yyyy-MM-dd'" type="date" (ngModelChange)="putDateOfPurchase($event)" name="dateOfPurchase" placeholder="Date of purchase" aria-label="">
<!--        <input type="date" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event">-->
        <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
          <div *ngIf="fname.errors.required">
            Name is required.
          </div>
        </div>

        <br><button class="btn btn-primary" (click)="makePurchase()">Purchase</button>

      </div>

    </div>

  </div>
</div>
