<br>
<div class="bgdiv container">
  <br>
  <div class="text-center">Fantastic Fair is a fabulous three day event.</div><br>

  <div class="container text-center">
    Want to employ our services?<br><br>
  </div>
  <div class=container>
    <div class="row">
      <div class="col-md">
        Enter when and where:
        <div>
          Start Date (YYYY-MM-DD):
          <input class="form-control " type="text" [(ngModel)]="newEvent.startDate" />
        </div>
        <div>
          Address:
          <input class="form-control " type="text" [(ngModel)]="newEvent.location.addressLine1" />
        </div>
        <div>
          Address 2:
          <input class="form-control " type="text" [(ngModel)]="newEvent.location.addressLine2" />
        </div>
        <div>
          City:
          <input class="form-control " type="text" [(ngModel)]="newEvent.location.city" />
        </div>
        <div>
          State:
          <input class="form-control " type="text" [(ngModel)]="newEvent.location.state" />
        </div>
        <div>
          Postal Code:
          <input class="form-control " type="number" [(ngModel)]="newEvent.location.postalCode" />
        </div>
      </div>
      <br><br>
      <div class="col-md">
        Enter your contact info:
        <div>
          First Name:
          <input class="form-control " type="text" [(ngModel)]="newEvent.contact.firstName" />
        </div>
        <div>
          Last Name:
          <input class="form-control " type="text" [(ngModel)]="newEvent.contact.lastName" />
        </div>
        <div>
          Email:
          <input class="form-control " type="text" [(ngModel)]="newEvent.contact.email" />
        </div>
        <div>
          Phone Number:
          <input class="form-control " type="number" [(ngModel)]="newEvent.contact.phoneNumber" />
        </div>
        <div>
          <br>
          <button type="submit" class="btn btn-light btn-block button1" (click)="apply()">Apply!</button>
        </div>
        <div>
          <br>
          <button type="button" class="btn btn-light btn-block button1" routerLink="/home">Home</button>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>
</div>