<div class="container p-0">

  <div class="mt-1">
    <span>Name:</span>
  </div>
  <div class="mb-2">
    <input type="text" id="nameInput" [(ngModel)]="PlaceableName">
  </div>
   
  <div class="">
    <span>Type:</span>
  </div>
  <select id="placeableTypeList" (click)="optionClicked()" [(ngModel)]="placeableValues" class="mb-2 selectdrop">
    <option *ngFor="let p of placeableTypes" value="{{p.typeId}}"> {{p.typeName}} </option> 
  </select>

  <div class="">
    <span>Employee Capacity:</span>
  </div>
  <div class="mb-2">
    <input type="number" id="capacityInput" [(ngModel)]="employeeCapacity">
  </div>
 
  <div class="">
    <span>Size:</span>
  </div>
  <select id="sizeList" (click)="optionClicked()" [(ngModel)]="sizeValues" class="mb-3 selectdrop">
    <option value="1">(1,1)</option> 
    <option value="2">(2,2)</option> 
    <option value="3">(2,1)</option> 
    <option value="4">(1,2)</option> 
    <option value="5">(4,1)</option>
    <option value="6">(1,4)</option>  
  </select>

  <div class="mb-1" align="right">
    <div class="btn btn-info button1" (click)="submit()">Submit</div>
  </div>

</div>
