/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body, html {
background-image: url("https://cdn.discordapp.com/attachments/587037548719767553/592361573272780810/ferris.png");
/* background-position: center,center; Center the image */
/* background-size: cover,cover; Resize the background image to cover the entire container */
background-repeat: no-repeat;
/* mix-blend-mode: multiply; */
background-color: #c9e0f6;
}


.white{
    background-color: #fff;
}

.backpanel{
    /* width: 69%; */
    min-width: 1140px;
    border-radius: 15px;
    background-color: #fff;
    /* position: absolute; */
    /* margin-left: 15%; */
    /* margin-right: 15%; */
}

.card{
    border: 0px;
}

.partition{
    background-color: #dde7f0
}