<div class="card mt-3">
  <a (click)="openDialog()" class="btn btn-info">Fantastic Fair {{ event.id }}</a>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Arrive to enjoy all the latest attractions!</p>
      <footer class="blockquote-footer">
        At {{event.location.addressLine1}}. {{event.location.city}}, {{event.location.state}} {{event.location.postalCode}}
      </footer>
      <footer class="blockquote-footer">
          <cite title="Source Title">from  {{event.startDate}} - {{event.endDate}}</cite>
      </footer>
    </blockquote>
  </div>
</div>
