
<div *ngIf="minify>0" >
    <div class="card mt-1 partitionColor bottomCut rounded">
      <div *ngIf="acceptString!='Accept'" (click)="openDialog()" class="p-1">
        <div class="text-center">
          Fantastic Fair {{ event.id }}: 
          at {{event.location.addressLine1}}. {{event.location.city}}, {{event.location.state}} {{event.location.postalCode}}
        </div>
      </div>
    </div>
</div>

<div *ngIf="minify==0">
  <div class="card mt-3 partition bottomCut rounded">
    <div *ngIf="acceptString!='Accept'" (click)="openDialog()" class="btn btn-info">Fantastic Fair {{ event.id }}</div>
    <a *ngIf="acceptString=='Accept'" (click)="accept()" class="btn btn-success text-center">Fantastic Fair {{ event.id }}</a>
    <a *ngIf="acceptString=='Accept'" (click)="decline()" class="btn btn-danger text-center">Decline</a>
  <div class="card mt-0 partition ">
    <!-- <a (click)="openDialog()" class="btn btn-info">Fantastic Fair {{ event.id }}</a> -->
    <div class="card-body partition p-0 bottomCut">
      <blockquote class="blockquote mb-0 pt-1 pl-3  partition bottomCut">
        <p>Arrive to enjoy all the latest attractions!</p>
        <footer class="blockquote-footer  bottomCut">
          At {{event.location.addressLine1}}. {{event.location.city}}, {{event.location.state}} {{event.location.postalCode}}
        </footer>
        <footer class="blockquote-footer   bottomCut">
            <cite title="Source Title">from  {{event.startDate}} - {{event.endDate}}</cite>
        </footer>
        <footer *ngIf="acceptString=='Accept'"  class="blockquote-footer pl-3   bottomCut">
            <cite title="Source Title">Submitted by: {{event.contact.firstName}}  {{event.contact.lastName}}  e-mail: {{event.contact.email}} </cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>