.btn-danger {
    background-color: rgb(255, 221, 221) 
}

.btn-danger:hover {
    background-color: rgb(236, 191, 191)
}

.btn-success {
    background-color: rgb(221, 255, 221);
}

.btn-success:hover {
    background-color: rgb(197, 235, 197);
}

.btn {
    border: 0px;
    color: white;
}

.card-body {
    background-color: rgba(128, 128, 128, 0.118);
}